@keyframes flashGreen {
    0% {
        background-color: transparent;
    }

    50% {
        background-color: rgba(0, 255, 0, 0.3);
    }

    100% {
        background-color: transparent;
    }
}

@keyframes flashRed {
    0% {
        background-color: transparent;
    }

    50% {
        background-color: rgba(255, 0, 0, 0.3);
    }

    100% {
        background-color: transparent;
    }
}

.flash-green {
    animation: flashGreen 1s ease-in-out;
}

.flash-red {
    animation: flashRed 1s ease-in-out;
}